# This is Git's per-user configuration file.
[credential "https://github.com"]
  helper = 
  helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper = 
  helper = !/opt/homebrew/bin/gh auth git-credential
[user]
  name = wutwere
  email = 62412610+wutwere@users.noreply.github.com
[core]
  editor = nvim
[delta]
  line-numbers = true
  dark = true
[pull]
  rebase = true
