# This is Git's per-user configuration file.
[user]
  name = wutwere
  email = 62412610+wutwere@users.noreply.github.com
[core]
  editor = nvim
[delta]
  line-numbers = true
  dark = true
[pull]
  rebase = true
[rebase]
  autoStash = true
